
.bingo-title{
     color: var(--color-blue);
     font-size: 2.5rem;
     font-family:"Cormorant", serif;
}
.bingo-wrapper {
  text-align: center;
  margin: 2rem auto;
  max-width: 700px;
  padding: 1rem;
}

.bingo-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 8px;
  margin-top: 1rem;
}

.bingo-cell {
  background-color: var(--color-lblue);
  border: 2px solid var(--color-blue);
  padding: 1rem;
  border-radius: 10px;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: 500;
  transition: all 0.2s ease;
}

.bingo-cell:hover {
  transform: scale(1.05);
}

.bingo-cell.scratched {
  background-color:#eae2e4;
  text-decoration: line-through;
  color:  #b7c5da;
  cursor: default;
}

.bingo-reward {
  margin-top: 1rem;
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--color-blue);
}
