
.reservation {
  padding: 2rem;
  text-align: center;
}

.reservation__heading {
  color: #1e5dac;
  font-size: 1.7rem;
  margin-bottom: 1.5rem;
}

.reservation__section {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
}

.reservation__label {
  margin: 1rem auto;
  font-weight: 500;

}

.reservation__input {
  padding: 0.5rem;
  border: 2px solid #1e5dac;
  border-radius: 10px;
  margin: 0.5rem;

}

.reservation__subheading {
  color: #1e5dac;
  font-size: 1.3rem; 
  margin-bottom: 1rem;
}

.reservation__allergies {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;
  margin-bottom: 2rem;
}

.reservation__allergy-option {
  background-color: #b7c5da;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.reservation__note {
  font-size: 0.75rem;
  color: #1e5dac;
  margin-left: 0.5rem;
}

.reservation__preorder {
  margin-top: 2rem;
}

.reservation__toggle {
  margin-bottom: 1rem;
  font-size: 0.9rem;
}

.reservation__menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.6rem;
  margin-bottom: 1rem;
}

.reservation__button {
  background-color: #b7c5da;
  border: none;
  border-radius: 12px;
  padding: 0.6rem 1.2rem;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.2s;
}

.reservation__button:hover {
  background-color: #b7c5da;
}

.reservation__preorder-list {
  list-style: none;
  padding: 0;
  margin-top: 1rem;
}

.reservation__footer {
  background-color: #1e5dac;
  padding: 1rem;
  margin-top: 2rem;
}

.reservation__submit {
  background-color: #b7c5da;
  color: #1e5dac;
  font-weight: bold;
  font-size: 1rem;
  padding: 0.6rem 2rem;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: 0.2s;
}

.reservation__submit:hover {
  background-color: #eae2e4
}
